h2, h3 {
  clear: both;
}

.md-typeset code .gp {
  color: red;
}

.md-typeset ol, .md-typeset ul {
  display: initial;
  margin: 0;
}

.right33 {
  clear: both;
  float: right;
  width: 33%;
  margin: 0 0 0.5em 0.5em;
}

.md-typeset img {
  vertical-align: middle;
}