[data-md-color-scheme="default"] {
  --md-primary-fg-color: #206592;
  --md-accent-fg-color: #439bd6;
}

[data-md-color-scheme="slate"] {
  --md-primary-fg-color: #6db1df;
  --md-accent-fg-color: #96c7e8;
}

h2, h3 {
  clear: both;
}

.md-header {
  background-color: #2573a7;
}

.md-typeset code .gp {
  color: red;
}

em > strong, strong > em, strong > code {
  background-color: var(--md-typeset-kbd-color);
  box-shadow-kbd: 0 .1rem 0 .05rem var(--md-typeset-kbd-border-color),0 .1rem 0 var(--md-typeset-kbd-border-color),0 -.1rem .2rem var(--md-typeset-kbd-accent-color) inset;
  border: .05rem solid #00000020;
  border-radius: .1rem;
  color: var(--md-default-fg-color);
  padding: 0.05rem .2rem;
  font-size: .95em;
  font-weight: normal;
  font-style: normal;
}

blockquote em > strong {
  display: block;
}

.green {
  background-color: green;
  border: 1px solid lightgreen;
}

.md-typeset img, .md-typeset svg {
  vertical-align: middle;
}

.md-typeset ol, .md-typeset ul {
  display: initial;
  margin: 0;
}

a > em > img {
  clear: both;
  float: right;
  width: 33%;
  margin: 0 0 0.4rem 0.4rem;
}

.md-typeset__table {
  display: flex;
}

.md-typeset table:not([class]), table {
  width: auto;
  margin: 0 auto;
}

body {
  font-size: initial;
}
